:root {
  --max-body-width: 700px;
  --loader-bullet-size: 6px;
  --transition-duration: 1s;
}

.light-mode {
  --body-background-color: #E9EFEC;
  --main-background-color: #ffffff;
  --main-color: #16423C;
  --border-color: #6A9C89;
  --secondary-color: #6A9C89;
  --light-green: #C4DAD2;
}

.dark-mode {
  --body-background-color: #232323; /* Fond global - Vert très sombre */
  --main-background-color: #151515; /* Fond des containers - Vert sombre */
  --main-color: #ffffff; /* Texte principal - Vert pâle */
  --border-color: #043a22; /* Bordures - Vert gris */
  --secondary-color: #086b3e; /* Boutons et accents - Vert vif */
  --light-green: #043a22; /* Couleur des ombres ou éléments mineurs */
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  color: var(--main-color);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  transition: var(--transition-duration);
}

.main-container {
  max-width: var(--max-body-width);
  min-height: 100vh;
  background-color: var(--main-background-color);
  padding: 50px;
  margin: 0 auto;
  transition: var(--transition-duration);
  position: relative;
  box-shadow:
    -20px 0 0 var(--light-green),
    20px 0 0 var(--light-green);
}

.main-container::before,
.main-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: var(--light-green);
}

.main-container::before {
  left: -20px;
}

.main-container::after {
  right: -20px;
}

.header {
  text-align: center;
}

.header-title {
  margin-top: 0;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.message {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.message-human {
  background-color: var(--light-green);
  color: var(--main-color);
  transition: var(--transition-duration);
}

.prompt-container {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--max-body-width);
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--main-background-color);
  padding: 20px;
  border-top: 1px solid var(--border-color);
  transition: var(--transition-duration);
}

.prompt-label {
  font-weight: bold;
  color: var(--main-color);
}

.prompt-input {
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--main-background-color);
  color: var(--main-color);
}

.button {
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition-duration);
}

.buttonmode {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  color: yellow;
  font-size: 50px;
  position: fixed;
  top: 20px;
  left: 50px;
}

.button:hover,
.button:active {
  background-color: var(--main-color);
  color: var(--body-background-color);
}

.dark-mode .message {
  border-color: var(--secondary-color);
}

.dark-mode .message-human {
  background-color: var(--light-green);
  border-color: var(--secondary-color);
}

.dark-mode .prompt-input {
  background-color: var(--body-background-color);
  transition: var(--transition-duration);
  color: #e0e0e0;
  border-color: #4a4a4a;
}

.dark-mode .button {
  background-color: var(--border-color);
  color: #ffffff;
  border-color: #4a4a4a;
}

.dark-mode .button:hover,
.dark-mode .button:active {
  background-color: #0f1f0d;
}

.hidden {
  display: none;
}

/* Loader code taken from https://loading.io/css/ */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: var(--loader-bullet-size);
}

.loader div {
  position: absolute;
  top: 0;
  width: var(--loader-bullet-size);
  height: var(--loader-bullet-size);
  border-radius: 50%;
  background-color: var(--main-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: calc(var(--loader-bullet-size) * 0.5);
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: calc(var(--loader-bullet-size) * 0.5);
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: calc(var(--loader-bullet-size) * 2.5);
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: calc(var(--loader-bullet-size) * 4);
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(var(--loader-bullet-size) * 2), 0);
  }
}