<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Étud I.A.</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body class="light-mode">
  <main class="main-container">
    <header class="header">
      <button class="buttonmode" id="toggle-mode">🌙</button>
      <h1 class="header-title">Étud I.A.</h1>
      <button class="audio-button" id="audio-toggle">🔊</button>
    </header>

    <section id="messages-container" class="messages-container">
      <div class="message message-ai">
        Je suis Étud, ton AIssistant de cours personnel ! Téléverse ton cours et pose-moi n'importe quelle question, ou
        alors laisse-moi te parler un peu de l'École Nationale des Ponts et des Chaussées.
      </div>
    </section>

    <form id="prompt-form" class="prompt-container">
      <img src="{{ url_for('static', filename='Logo_club.png') }}" alt="Logo du meilleur club des Ponts"
           id="logo" class="club_logo" width="200" height="200">
      <label for="prompt" class="prompt-label">Message</label>

      <input type="text" id="prompt" name="prompt" class="prompt-input" autocomplete="off" />

      <button type="submit" class="button" id="submit-button">
        Envoyer
      </button>

      <button type="button" class="button" id="question-button">
        Question
      </button>

      <button type="button" class="button" id="qcm-button">
        QCM
      </button>

      <button type="button" class="button" id="import-button">
        Importer
      </button>

      <button type="button" class="button hidden" id="A-button">
        A
      </button>

      <button type="button" class="button hidden" id="B-button">
        B
      </button>

      <button type="button" class="button hidden" id="C-button">
        C
      </button>

      <button type="button" class="button hidden" id="D-button">
        D
      </button>
    </form>

    <audio id="background-music" loop>
      <source src="{{ url_for('static', filename='music.mp3') }}" type="audio/mpeg">
      Votre navigateur ne supporte pas la balise audio.
    </audio>

    <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
    <script src="{{ url_for('static', filename='prompt.js') }}"></script>
  </main>
</body>

</html>